{% extends 'base.html.twig' %}


{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <div class="row bg-light bg-gradient pt-4 pb-4 mt-4">
    <div class="col-md-6 mx-auto">

    <h2 class="text-center">Modifier votre mot de passe</h2>
    {{ form_start(formulaire) }}

            
    {{form_widget(formulaire)}}
    
    <div class="d-grid gap-2 col-6 mx-auto">
    <input type="submit" value="modifier le mot de passe" class="btn btn-primary btn-block"/>
   </div>
   </div>
   </div>
 {{ form_end(formulaire) }}
{% endblock %}
