{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6  mx-auto text-center">
            <h1 class="my-5">Profile</h1>
            <img src="{{app.user.gravatar}}" alt=" avatar de {{app.user.fullName()}}" class=" shadow rounded-circle">

            <h2 class="mt-5">{{app.user.fullName()}}</h2>
            <p class="lead">{{app.user.email}}</p>
            <P>
            <a href="">Editer le compte </a> | <a href="">Changer le mot de passe</a>
            </a>
        </div>
    </div>
{% endblock %}
