.alert{
    padding:10px;
    color:white;
    text-align:center;
    margin:0;
    border:none;
    border-radius:0;
}
.alert-success{
    background:rgb(7, 240, 65);
  
}
.alert-info{
    background:blue;
     /* background:rgb(219, 228, 154); */
}
.alert-error{
    background:red;
}
.vich-image a img{
    max-width: 200px;
    max-height: 200px;
}
article .img-pin-index{
   max-width:300px;
   max-height: 300px;

}
article .img-pin-show{
    max-width:500px;
    max-height: 500px;
 
 }

 article .img-trick-index{
    /* max-width:300px;
    max-height: 300px; */
    width:auto;
 
 }

article{
    margin:auto;
    width: 85%;

}
.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    
  } 
  .main{
    margin:auto;
    width: 95%;
  }
  .item-container {
    display:flex;
    flex-wrap:wrap;
    
  }

  .item{
     max-width: 40%;
     margin-left: 2px;
     margin-top :2px;
     padding: 2px 2px;
  }
  article{
    padding:4px 4px;
  }

  .form-class{
    padding-top:4px;

  }
  .form-form{
    margin:auto;
    width:50%;
  }
  .frame{
    margin-top:4px;
  }
  .form-form h1{
    text-align:center;
    
  }
  .about-me{
    height: 200px;
    padding-top: 80px;
    padding-bottom : 80px;
    margin-bottom: 30px;
  }
  .about-me .image-about{
    margin:auto;
    width:50%;
  }
  .about-me img{
    width: 300px;
  }

  .profil img{
    width: 200px;
    height: 200;
  }
  footer{
    margin-top:50px;
  }

  /* media query */
  @media (max-width: 1000px) { 

    h1{
        font-size:3.5em;
    }
    .item-container {
        display:flex;
        flex-direction: column;
        flex-wrap:nowrap;
       
        
      }

      .item{
        max-width: 100%;
        margin-left: 2px;
        margin-top :4px;
        padding: 2px 2px;
     }
     .item-container .item  article a{
        font-size:1.0em;
     }

     .item-container .item  article p{
        font-size:1.0em;
     }
     
     article .img-pin-index{
        max-width:100%;
        max-height: 500px;
     
     }
     .show-paragraphe{
        font-size:1.2em;
     }

     .show-publishtime{
        font-size:1.0em;
     }

     .show-block article a{
        font-size:1.0em;
     }

     .show-commentaire input{
        font-size: 1.0em;
     }
     .titre3{
        font-size:1.0em;
     }
     .commentform{
        height:150px;
        background: rgba(0,0,0,0.10);
     }

    label{
        font-size:1.2em;
    }

    .form-class{
        /* padding-top:8px; */
    
      }
      .form-form label{
        font-size:1.0em;
      }
      .frame{
        /* margin-top:200px; */
        
      }
      .form-form button{
        /*font-size:1.0em;*/
      }
      form .form-text{
        /* height: 100px; */
        font-size:1.0em;
      }
      form .check-b{
        /* height: 25px;
        width:25px; */
      }
      form .pass-forget{
        font-size:1.0em;
      }
      .form-form p{
        font-size:1.0em;
      }
      .form-form h1{
        margin-top:12px;
        font-size :1.5em;
      }

      footer p {
        font-size:1.2em;
      }
  }

  @media screen and (max-width: 576px){
    .label-form{
      font-size:12px;
      
    }
    .label-label{
      margin-top:12px;
    }

    .item-container .item  article a{
      font-size:1.0em;
   }

   .item-container .item  article p{
      font-size:1.0em;
   }
   footer p {
    font-size:1.0em;
  }

  .show-paragraphe{
    font-size:1.0em;
 }

 .show-publishtime{
    font-size:1.0em;
 }

 .show-block article a{
    font-size:1.0em;
 }

 .show-commentaire input{
    font-size: 1.0em;
 }
 .titre3{
    font-size:2.0em;
 }
 .commentform{
    height:100px;
    background: rgba(0,0,0,0.10);
 }

label{
    font-size:1.0em;
}
  }
