{% extends 'base.html.twig' %}

{% block title 'ajouter une video' %}
{% block body %}
<div class="container">
<h1 class="text-center">Ajouter une video</h1>
<div class="row bg-light bg-gradient pt-4 pb-4 mt-4">
<div class="col-md-6 mx-auto">

{{form_start(form)}}

{{form_widget(form)}}

<input type="submit" value="Ajouter une video" class="btn btn-primary bg-gradien
 btn-block"/>
{{form_end(form)}}
</div>
</div>
</div>
{% endblock %}