{% extends 'base.html.twig' %}

{% block title %}new trick{% endblock %}

{% block body %}
 <div class="row bg-light bg-gradient pt-4 pb-4 mt-4">
   <div class="col-md-6 mx-auto">
   <h1 class="text-center">creer un trick</h1>

   {{include('trick/form.html.twig',{'submitButtonText':'creer un trick'}) }}
   </div>
{% endblock %}