{% extends 'base.html.twig' %}

{% block title %}Dashboad Créer un trick{% endblock %}

{% block body %}
<div class="container mt-5">
<a href="{{path('app_user_trick_show')}}" class=" btn btn-primary">Voir vos tricks et ajouter des medias</a>
</div>
<div class="container">
<div class="row bg-light bg-gradient pt-4 pb-4 mt-4">
   <div class="col-md-6 mx-auto">

    <h1 class="text-center">Créer un nouveau trick </h1>
 {{include('partials/form.html.twig',{'submitButtonText':'creer un trick'}) }}
</div>
</div>
</div>
{% endblock %}
