{% extends 'base.html.twig'%}
{% block title %}editer trick# {% endblock %}

{% block body %}
 

{# <div class="row">
   <div class="col-md-6 mx-auto">
   <h1>Editer one trick# </h1>

   <form  method="POST" enctype="multipart/form-data">
   <input type="file" name="image" placeholder=""/>
   <input type="submit" name="modifier l'image"/> 
   </form>
</div> #}

<div class="row">
   <div class="col-md-6 mx-auto">
   <h1>Editer trick# </h1>

   {{include('trick/form2.html.twig',{'submitButtonText':'Editer le trick'})}}
</div>

{% endblock %}