{% extends 'base.html.twig'%}
{% block title %}editer trick# {{ trick.id}}{% endblock %}

{% block body %}
 

<div class="row">
   <div class="col-md-6 mx-auto">
   <h1>Editer trick# {{trick.id}}</h1>

   {{include('trick/form.html.twig',{'submitButtonText':'Editer le trick'})}}
</div>

{% endblock %}
