<footer class="container text-center mt-5 pt-4 pb-4 bg-dark">
<p class="text-muted">

    <small>
        &copy; {{'now'|date('Y')}} &middot;
        <span>par Daddypro21 | tous droits réservés</span>
    </small>
</p>
</footer>