{{ form_start(formulaire) }}

    {{form_widget(formulaire)}}
    <div class="d-grid gap-2 col-6 mx-auto">
    <input type="submit" value="{{ submitButtonText}}" class="btn btn-primary btn-block"/>
   </div>
 {{ form_end(formulaire) }}